.image-container {
    position: relative;
    display: inline-block;
    /* Or 'block' if you want it to take the full width */
    cursor: pointer;
    /* Indicates that the element is clickable */
    text-align: center;
}

.postStyle {
    box-sizing: border-box;
}

.postStyle:nth-child(3n) {
    margin-right: 0px;
}

.postStyle:not(:nth-child(3n)) {
    margin-right: 15px;
}

/* For smaller screens (two-column layout) */
@media (max-width: 1432px) { /* Adjust the breakpoint as needed */

    .postStyle:nth-child(3n) {
        margin-right: 15px; /* Reset the margin for smaller screens */
    }
}

.background-image {
    width: 100%;
    /* This will make the image responsive to the container's width */
    height: auto;
    /* Maintain aspect ratio */
    display: block;
    /* Remove bottom space under the image */
}

.overlay-text {
    text-wrap: wrap;
    line-height: 18px;
    font-size: 1rem;
    padding-top: 1rem;
    font-weight: bold;
}

.overlay-text:hover {
    cursor: pointer;
}

.postStyle {
    display: 'flex';
    flex-direction: 'column';
}

.img-text {
    display: flex;
    align-items: center;
    color: #FFF;
}

.text {
    background-color: #FF0000;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    margin: 0px;
}

/* You might want to add some hover effects for better user interaction */
.image-container:hover .overlay-text {
    background-color: rgba(0, 0, 0, 0.7);
    /* Darken the overlay on hover */
}

/* Responsive behavior if needed */
@media (max-width: 768px) {
    .overlay-text {
        font-size: 14px;
        /* Smaller text on smaller screens */
    }
}