.App {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.post-heading {
    text-align: center;
}

.post-body {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: row;
}

.side-bar-ad {
    width: 300px;
}

.post-ads-sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}