.drawer {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2; 
  }

  .drawer.open {
    width: 100%;
    display: flex;
    height: calc(100% - var(--dynamicHeaderHeaight));
  }
  
  .drawer-overlay {
    width: 78%;
    background: rgba(0, 0, 0, 0.586);
    z-index: -1;
  }
  
  .drawer-content {
    background-color: #fffffff7;
    height: 100%;
    overflow: auto;
    width: 22%;
    display: flex;
    flex-direction: column;
  }
  
  ::-webkit-scrollbar {
    display: none; /* Adjust the width as needed */
}