.image-container {
    position: relative;
    display: inline-block;
    /* Or 'block' if you want it to take the full width */
    cursor: pointer;
    /* Indicates that the element is clickable */
    text-align: center;
}

.background-image {
    width: 100%;
    /* This will make the image responsive to the container's width */
    height: auto;
    /* Maintain aspect ratio */
    display: block;
    /* Remove bottom space under the image */
}

/* .overlay-text {
    text-wrap: wrap;
    line-height: 18px;
    font-size: 14px;
    font-weight: bold;
} */

.overlay-text:hover {
    cursor: pointer;
}

.postStyle {
    display: 'flex';
    flex-direction: 'column';
}

.img-text {
    display: flex;
    align-items: center;
    color: #FFF;
}

/* You might want to add some hover effects for better user interaction */
.image-container:hover .overlay-text {
    background-color: rgba(0, 0, 0, 0.7);
    /* Darken the overlay on hover */
}



