.horizontal-ads {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%; /* Adjust the width as needed */
    margin-top: 20px;
    margin-bottom: 20px;
}

.horizontal-ads img {
    height: auto;
    max-height: 120px;
    margin-left: 20px; /* Adjust the left margin */
    margin-right: 20px; /* Adjust the right margin */
}



.mainBanner {
    width: 100%;
    max-width: 2200px;
    object-fit: fill;
}

.mainBanner-image {
    width: 100%;
    height: 400px;
}

.digit{
    margin-bottom: 40px;
    margin: auto;
    width: 80%;
}

.digit-heading {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.digit-heading-text {
    background-color: #000;
    color: #fff;
    padding: 7px 40px;
    width: max-content;
    margin-bottom: 0px;
}



.digitApp {
    margin-top: 40px;
    margin-left: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.digitimage-container {
    margin-left: 70px;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align images horizontally */
}

.digitimage {
    width: calc(25% - 50px); /* Adjust width of each image */
    /* For example, with 4 images per row, each image takes 25% of the container width */
    /* Subtracting gap width to avoid overflow */
    max-width: calc(25% - 50px); /* Ensure images don't exceed 25% of container width */
    margin: 5px; /* Adjust margin to create space between images */
    background-color: #706cad; /* Change the background color of the rectangles */
    /* Add more styling as needed */
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
    .digitimage {
        width: calc(50% - 50px); /* Adjust width for two images per row */
        max-width: calc(50% - 50px); /* Ensure images don't exceed 50% of container width */
    }
}
