.main-body {
    margin: auto;
    width: 90%;
}

.post-heading {
    text-align: center;
}

.cover-post-items {
    display: flex;
    flex-wrap: wrap;
}

.cover-post-heading {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.cover-post-heading-text {
    background-color: #000;
    color: #fff;
    padding: 7px 45px;
    width: max-content;
    margin-bottom: 0px;
}

.viewMoreImg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    transform: scale(0.7);
}

.cover-sustainability-body {
    display: flex;
    gap: 10px;
}

.sustain-img-body {
    position: relative;
}

.sustain-img {
    width: 250px;
}

.sustain-caption {
    position: absolute;
    bottom: 0px;
    padding-left: 10px;
    text-wrap: wrap;
    opacity: 0.8;
    font-size: 14px;
    color: white; /* Text color */
    padding: 5px 10px /* Add some padding */
}

.viewMoreImg:hover {
    cursor: pointer;
}

.sustain-ads {
    display: flex;
    width: 10px;
}

.sustain-ads-img {
    width: 18vw;
} 

.event-ads-img {
    width: 20vw;
}

.cover-event-body-img {
    width: 76%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.event-img-btn {
    display: flex;
    margin: 80px 0px;
    justify-content: center;
    align-items: center;
    background-color: #FF0000;
    color: #fff;
}

.event-img-btn:hover {
    border: 1px solid #fff;
}

.event-img {
    width: 32vw;
    height: 220px;
    background-image: url('../../assets/home-page-assets/grayTempImg.svg');
    display: flex;
    justify-content: center;
    align-items: center;

}

.cover-event-body {
    display: flex;
    
}

.event-ads {
    width: 20vw;
}